{% extends 'layout.html' %}
{% block content %}

<h4>Whats done till today? (wrt Collaborative approaches)</h4>
&nbsp;&nbsp;<li>Worked on Collaborative filtering - memory based approaches</li>
&nbsp;&nbsp;<li>Considered 3 IC's (Consumer, Construction and Pharma) News, Deals and  Report content sets and integrated the recommendations with this api</li>
&nbsp;&nbsp;<li>Recommendations shown now include results from user-item filtering and item-item filtering</li>
&nbsp;&nbsp;<li>Entities were also extracted from saved searches and alerts data to create a dictionary.</li>

<br><h4>Whats pending? (Next steps)</h4>

&nbsp;&nbsp;<li>Make use of created dictionary to prioritize the recommendations</li>

<br><br><h4>About page in progress...</h4>

{% endblock content %}