{% extends 'layout.html' %}
{% block content %}


<p>Recommendations by IC and selected content set</p>

    <div class="tab">
      <button class="tablinks" onclick="openIC(event,'Consumer_IC')">Consumer IC</button>
      <button class="tablinks" onclick="openIC(event,'Construction_IC')">Construction IC</button>
      <button class="tablinks" onclick="openIC(event,'Pharma_IC')">Pharma IC</button>
    </div>

        <div id="Consumer_IC" class="tabcontent">
            <form action = "{{url_for('contentset')}}" id="consumer_form" method = "post" ><br>
                <ul><li><strong>Scope</strong>: <em> 'Select a content set'</em></li><br>

                                    <input type="radio" name="ic_form_value" form="consumer_form" value="consumer_news" checked> News<br>
                                    <input type="radio" name="ic_form_value" form="consumer_form" value="consumer_deals" > Deals<br>
                                    <input type="radio" name="ic_form_value" form="consumer_form" value="consumer_reports" > Reports<br>

                                    <br><input  style="width: 125px; background-color: #000000;color: #ffffff" type = "submit"  value = "Submit" >
                                    <input style="width: 250px; background-color: #000000;color: #ffffff" type="reset" onclick="alert('Reset to default values as requested')" value = "Reset (to default selection)">

                </ul>
            </form>
        </div>

        <div id="Construction_IC" class="tabcontent">
            <form action = "{{url_for('contentset')}}" id="construction_form" method = "post" ><br>
                <ul><li><strong>Scope</strong>: <em> 'Select a content set'</em></li><br>

                                    <input type="radio" name="ic_form_value" form="construction_form" value="construction_news" checked> News<br>
                                    <input type="radio" name="ic_form_value" form="construction_form" value="construction_deals" > Deals<br>
                                    <input type="radio" name="ic_form_value" form="construction_form" value="construction_reports" > Reports<br>

                                    <br><input  style="width: 125px; background-color: #000000;color: #ffffff" type = "submit"  value = "Submit" >
                                    <input style="width: 250px; background-color: #000000;color: #ffffff" type="reset" onclick="alert('Reset to default values as requested')" value = "Reset (to default selection)">

                </ul>
            </form>
        </div>

        <div id="Pharma_IC" class="tabcontent">
            <form action = "{{url_for('contentset')}}" id="pharma_form" method = "post" ><br>
                <ul><li><strong>Scope</strong>: <em> 'Select a content set'</em></li><br>

                                    <input type="radio" name="ic_form_value" form="pharma_form" value="pharma_news" checked> News<br>
                                    <input type="radio" name="ic_form_value" form="pharma_form" value="pharma_deals" > Deals<br>
                                    <input type="radio" name="ic_form_value" form="pharma_form" value="pharma_reports" > Reports<br>

                                    <br><input  style="width: 125px; background-color: #000000;color: #ffffff" type = "submit"  value = "Submit" >
                                    <input style="width: 250px; background-color: #000000;color: #ffffff" type="reset" onclick="alert('Reset to default values as requested')" value = "Reset (to default selection)">

                </ul>
            </form>
        </div>

        <script>
            function openIC(evt, ICName) {
              var i, tabcontent, tablinks;
              tabcontent = document.getElementsByClassName("tabcontent");
              for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
              }
              tablinks = document.getElementsByClassName("tablinks");
              for (i = 0; i < tablinks.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(" active", "");
              }
              document.getElementById(ICName).style.display = "block";
              evt.currentTarget.className += " active";
            }
        </script>
{% endblock content %}