{% extends 'layout.html' %}
{% block content %}
    <center>
    <h5>Logged in as: <b>{{user_name_of_interest}} [Id:{{user_id_of_interest}}] (for {{contentset}})</b></h5><br>
        <h5><strong><em>User viewed records include:</em></strong></h5>
        {% if user_viewed_records_df.empty %}
            <p>Zero views</p>
        {% else %}
            {{user_viewed_records_df.to_html(columns=['Record Id','Record Title','Viewed Date','Publication date'],index=False,justify='center',bold_rows=False)|safe}}
        {% endif %}<br><br>
        <h5><strong><em>Users similar to you also read (i.e. User-item filtering based recommendations include)</em></strong></h5>
        {% if user_item_filtering_recommendations_df.empty %}
            <p>Zero recommendations</p>
        {% else %}
            {{user_item_filtering_recommendations_df.to_html(index=False,justify='center',bold_rows=False)|safe}}
        {% endif %}
        <br><h6>&nbsp;Comments: <b>{{ui_msg_to_carry}}</b></h6><br>
    </center><br>

    <center><br>
        <h5><strong><em>Users who read above items also read (i.e. Item-item filtering based recommendations include)</em></strong></h5>
        {% if item_item_filtering_recommendations_df.empty %}
            <p>Zero recommendations</p>
        {% else %}
            {{item_item_filtering_recommendations_df.to_html(index=False,justify='center',bold_rows=False)|safe}}
        {% endif %}
        <br><h6>&nbsp;Comments: <b>{{ii_msg_to_carry}}</b></h6><br>
    </center>

<h6>Total time taken (in secs): <b>{{total_time}}</b></h6>

{% endblock content %}