{% extends 'layout.html' %}
{% block content %}

<h4>
        <center>
        {% if contentset=='consumer_news'%}
            <p>&emsp;IC:
                <strong>Consumer</strong>
            </p>
            <p>&emsp;Content set:
                <strong>News</strong>
            </p>
        {% elif contentset=='consumer_deals'%}
            <p>&emsp;IC:
                <strong>Consumer</strong>
            </p>
            <p>&emsp;Content set:
                <strong>Deals</strong>
            </p>
        {% elif contentset=='consumer_reports'%}
            <p>&emsp;IC:
                <strong>Consumer</strong>
            </p>
            <p>&emsp;Content set:
                <strong>Reports</strong>
            </p>
        {% elif contentset=='construction_news'%}
            <p>&emsp;IC:
                <strong>Construction</strong>
            </p>
            <p>&emsp;Content set:
                <strong>News</strong>
            </p>
        {% elif contentset=='construction_deals'%}
            <p>&emsp;IC:
                <strong>Construction</strong>
            </p>
            <p>&emsp;Content set:
                <strong>Deals</strong>
            </p>
        {% elif contentset=='construction_reports'%}
            <p>&emsp;IC:
                <strong>Construction</strong>
            </p>
            <p>&emsp;Content set:
                <strong>Reports</strong>
            </p>
        {% elif contentset=='pharma_news'%}
            <p>&emsp;IC:
                <strong>Pharma</strong>
            </p>
            <p>&emsp;Content set:
                <strong>News</strong>
            </p>
        {% elif contentset=='pharma_deals'%}
            <p>&emsp;IC:
                <strong>Pharma</strong>
            </p>
            <p>&emsp;Content set:
                <strong>Deals</strong>
            </p>
        {% elif contentset=='pharma_reports'%}
            <p>&emsp;IC:
                <strong>Pharma</strong>
            </p>
            <p>&emsp;Content set:
                <strong>Reports</strong>
            </p>
        {% else %}
            <p>
                <strong>Something seems wrong!!</strong>
            </p>
        {% endif %}

        </center>
</h4>

    <center>
                <form action = "{{url_for('recommends',contentset=contentset)}}" id="recomm_form" method = "post" ><br>

                    <strong>Login as one of the those users: </strong><br>
                    <select name="user" form="recomm_form" required>
                        {% for (ic,id,name) in users %}
                        <option value="{{id}}_{{name}}">{{name}} [{{id}}]</option>'
                        {% endfor %}
                    </select><br><br>
                    <input  style="width: 125px; background-color: #000000;color: #ffffff" type = "submit"  value = "Login" >
                    <input style="width: 125px; background-color: #000000;color: #ffffff" type="reset" onclick="alert('Reset to default values as requested')">
                </form>
     </center>

{% endblock content %}